body {
  font-family: sans-serif;
  color: #4c1e1e;
}

main {
  display: flex;
  background-color: #fff8f8;
  border-radius: 20px;
  padding: 20px;
}

img {
  width: 50%;
}

article {
  display: flex;
}
.text-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.text-container p {
  line-height: 20px;
}
@media screen and (max-width: 575px) {
  article img {
    flex: 1;
    order: 2;
    width: 100%;
  }
  .text-container {
    flex: 1;
    order: 1;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
